body {
  text-align: center;
  background-color: #FAC22A;
  height: 100vh;
  margin: 0;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.5rem;
  margin: 3rem auto 1rem;
  color: #363636;
}

.deck {
  background-color: #FAC22A;
  width: 500px;
  height: 500px;
  border-radius: 0.8rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.card {
  width: 100px;
  height: 100px;
  border-radius: 0.6rem;
  margin: 0.5rem;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  position: relative;
}

.card:hover {
  transform: scale(1.02);
  transition: transform .2s;
}

.card:active {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.front {
  width: 100%;
  height: 100%;
  border-radius: 0.6rem;
  background-color: #0E638E;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);

  /* The front side of the card is flipped by 180deg by default, and set to hidden.
     When the card is flipped over, the front side is flipped by 360deg in total,
     therefore returned to its original state, and is not hidden anymore. */
}

.back {
  width: 100%;
  height: 100%;
  border-radius: 0.6rem;
  background-color: #363636;
  position: absolute;
  backface-visibility: hidden;
}

i {
  color: white;
  font-size: 2rem;
  margin-top: 2rem;
}

.wrong {
  background-color: #D42A20;
}
